/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital@0;1&display=swap');

// fonts
$theme-header-font: Domine, serif;
$theme-body-font: Atkinson Hyperlegible, Nunito, sans-serif;
$theme-code-font: Fira Mono, monospace;
// Colors
$theme-primary:   #6B90B2;
$theme-secondary: #1B558E;
$theme-light:     #f6fafa;

// Base document colors
$navbar-bg: $theme-primary; // navbar background color
$navbar-fg: $theme-light; // navbar foreground color
$sidebar-bg: $theme-primary; // sidebar background color
$sidebar-fg: $theme-light; // sidebar foreground color
$footer-bg: $theme-primary; // footer background color
$footer-fg: $theme-light; // footer foreground color
$link-color: $theme-secondary; // hyperlinks
// colors
$body-bg: #FFFBEB !default;
$body-color: #041E42 !default;
$link-color: #009933 !default;
$selection-bg: #D50032 !default;


// headings
$presentation-heading-font: "Montserrat", sans-serif !default;
$presentation-heading-color: #cc00cc !default;




// code blocks
$code-block-border-color: #93a1a1 !default;



/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

.reveal .footer {
 color: #0066ff !important;

}
.navbar-title {
  font-family: $theme-header-font;
  font-weight: 700;
}

h1, h2 {
  font-size: 1.3em;
  font-weight: 900;
  font-family: $theme-header-font;
  color: darken($theme-primary, 20%);
}

h2 {
  font-size: 1.2em;
}

// Containers
.reveal .slide .v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}

// Alignment
.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
// Slide iframes

.slides {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
